obj/
postgres-data/
bin/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs

*.user
appsettings.json
appsettings.Development.json